.spacing-t-tiny {
    margin-top: 15px;
}
.spacing-t-small {
    margin-top: 25px;
}
.spacing-t-medium {
    margin-top: 75px;
}
.spacing-t-large {
    margin-top: 150px;
}
.spacing-b-tiny {
    margin-bottom: 15px;
}
.spacing-b-small {
    margin-bottom: 25px;
}
.spacing-b-medium {
    margin-bottom: 75px;
}
.spacing-b-large {
    margin-top: 150px;
}
.text-spacing {
    padding: 10px 10px;
}
.spacing-t-medium-padding {
    padding-top: 50px;
}
.spacing-b-medium-padding {
    padding-bottom: 50px;
}
.spacing-t-large-padding {
    padding-top: 75px;
}
.spacing-b-large-padding {
    padding-top: 75px;
}