.content {
    width: 80%;
    margin: auto;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    color: #000;
    border: 2px solid #D3F052;
    border-top-left-radius: 10px;
    border-left-color: #53BBEB;
    border-top-color: #53BBEB;
}
.content:hover {
    transition: 1s ease;
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}
.content:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 1s ease;
}
.AnimationText {
    display: none;
}
.active {
    background-color: #53BBEB !important;
}
